<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>
<h2>Messages</h2>
<form method="post" action="/add_message">
    <input type="text" name="text">
       <button type="submit">Add message</button>
</form>

<h3>Messages list</h3>
{% for message in messages %}
<div>{{ message.text }}</div>
{% endfor %}
</body>
</html>